.counter-container {
  background-color: beige;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1.5rem;
  border: 2px solid black;
  border-radius: 4px;

}

#btn{
  background-color: darkgoldenrod;
  color: white;
  height: 30px;
}