*{
  margin: 0;
  pad: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(55, 55, 67);
  color: white;
  font-size: 2rem;
}